
#cinema{
    margin-top: 3.125rem;
#cinemaList{
    .title{
        margin-bottom: 1px;
        width: 100%;
        height: 40px;
        background: rgb(225,225,225);
        line-height: 40px;
        text-indent: 5%;   
    }
}
}