<div class="leftnavouter" [@leftnavouter]="leftnavouter" (click)="change()"></div>
<nav class="mzLeft" [@leftnav]="leftnav" >
	<ul>
		<li (click)='change()'><a href="javascript:void(0)" routerLink="home">首页</a></li>
		<li (click)='change()'><a href="javascript:void(0)" routerLink="film" >影片</a></li>
		<li (click)='change()'><a href="javascript:void(0)" routerLink="cinema">影院</a></li>
		<li (click)='change()'><a href="javascript:void(0)" routerLink="person">个人中心</a></li>
		<!-- <li (click)='change()'><a href="javascript:void(0)" routerLink="login">登陆</a></li> -->
	</ul>
</nav>