#mzFilmGoodList {
  width: 110%;
  margin-left: -10%;
  height: 475px;
  overflow: scroll;
}

#mzFilmGoodList ul {
  width: 90%;
}

#mzFilmGoodList ul li {
  width: 100%;
  height: 100px;
  list-style: none;
  border-bottom: 1px dotted black;
}

#mzFilmGoodList ul li a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100px;
  color: black;
  text-decoration: none;
}

#mzFilmGoodList ul li a img {
  width: 20%;
  height: 80px;
  margin-top: 10px;
}

#mzFilmGoodList ul li a .center {
  width: 70%;
}

#mzFilmGoodList ul li a .center p {
  height: 30px;
  margin: 0;
  padding: 0px;
  margin-left: 10%;
}

#mzFilmGoodList ul li a .center .name {
  margin-top: 15px;
  font-weight: 700;
}

#mzFilmGoodList ul li a .center .intro {
  font-size: 12px;
  height: 20px;
  color: #ada7a7;
}

#mzFilmGoodList ul li a .center .botton span {
  font-size: 12px;
  height: 20px;
  color: #ada7a7;
}

#mzFilmGoodList ul li a .right {
  height: 101px;
}

#mzFilmGoodList ul li a .right p {
  height: 65px;
  line-height: 65px;
  color: red;
  font-weight: 700;
}

#mzFilmGoodList ul .Lazzshow {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  text-align: center;
  /* line-height: 5; */
  color: red;
  font-weight: 700;
}

#mzFilmGoodList ul .Lazzshow .el-icon-loading {
  font-size: 30px;
  font-weight: 700;
}

#mzFilmGoodList .el-icon-upload2 {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  font-size: 35px;
  position: fixed;
  bottom: -50px;
  right: 20%;
  background: rgba(197, 185, 185, 0.68);
}

#HomeLoadingView {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 1000px;
  background: #fff;
  z-index: 12;
}

#HomeLoadingView p {
  margin-top: 250px;
  margin-left: 40%;
  font-size: 50px;
}
