<!-- <div id="HomeLoadingView" *ngIf='loading'>
  <p class="el-icon-loading"></p>
</div> -->






<div id="mzComingPlay" (scroll)=srolls()> 
    <div class="el-icon-upload2" [@returnTopBotton]='returnTopBotton' (click)='hiddenReturnTopButton()'></div>
    <ul id="mzComingPlayUl">
      <li *ngFor="let item of myData">
          <a href="javascript:void(0)" (click)="setId(item.id)" routerLink="list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img [src]="item.cover.origin" alt="">
            <div class="center">
              <p class="name">{{item.name}}</p>
              <p class="intro">{{item.intro}}</p>
              <p class="botton">
                <span class="day">{{item.premiereAt | date:"yyyy年 MM月dd日"}}</span>
                <span class="week">{{item.premiereAt | changeData}}</span>
              </p>
            </div>
            <div class="right"> <p>{{item.grade}}</p></div>
          </a>
      </li>
      <div [hidden]="!show" class="Lazzshow">
          <p *ngIf='isBotton'>{{showText}}</p>
          <p *ngIf='!isBotton' class="el-icon-loading"></p>
      </div>

    </ul>
</div>

