<div id="person">
    <div class="Top">
        <img src="https://pic.maizuo.com/usr/default/maizuomoren66.jpg" alt="你的头像有毒,浏览器无法显示">
        <div class="topRight">
            <p class="user">手机用户</p>
            <p>ID1234567890</p>
            <p (click)='exitLogin()' style="color:coral">退出</p>
        </div>
    </div>

    <div id="Bodys">
            <p>
                <span class="ico"></span>
                <span>电影订单</span>

            </p>
            <p>
                <span class="ico"></span>
                <span>影票待支付订单</span>

            </p>
            <p>
                <span class="ico"></span>
                <span>商城订单</span>
            </p>




            <div class="center1">
                    <p>
                        <span class="ico"></span>
                        <span>我的现金券</span>
                    </p>
                    <p>
                        <span class="ico"></span>
                        <span>账户余额</span>
                    </p>
                    <p>
                        <span class="ico"></span>
                        <span>我的卖座卡</span>
                    </p>
            </div>


            <p class="set"> 
                <span class="ico"></span>
                <span>设置</span>
            </p>

        </div>
</div>
